.CodeMirror {
  height: 250px !important;
  color: #000;
}
/* we write important because there was previously a heigth and we need to change that */
.CodeMirror-gutters {
    background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}